/*definite le aree, le tipologie*/
.theMenu{grid-area: menu;background-color: white;color:black;}
.theMain{grid-area: main;padding-left: 2rem;color:white;}
.theHeaderLeft{grid-area: header-left;text-align: left;background-color: white;}
.theHeader{grid-area: header; border: none;text-align: center;font-weight: bold;font-size: 2rem;}
.theHeaderRight{grid-area: header-right;text-align: center;color: white}
.theFooterLeft{grid-area: footer-left; font-family:Times, Georgia, serif;font-style: italic; font-size: 0.8rem;
                background-color: white;color: black;text-align: center;}
.theFooter{grid-area: footer;font-family:Times, Georgia, serif;font-style: italic; font-size: 0.8rem;padding-left: 2rem;}
.theFooterRight{grid-area: footer-right; font-family:Times, Georgia, serif;font-style: italic;font-size: 0.8rem;width: max-content;}
/*definita la griglia*/
.grid-container{
  display: grid;
  min-height: 100%;
  grid-template-areas:
  'header-left header header header header header header header header header header header-right'
  'menu main main main main main main main main main main main'
  'footer-left footer footer footer footer footer footer footer footer footer footer footer-right';

}
.theMenu a:link{
  color: black;
}/*link neri su bianco*/
.theMenu a:visited{
  color:black;
}/*anche se visitati ritornano neri*/
.theMenu a:hover{
  color: white;
  background-color: black;
}/*Con il mouse su un link vengono invertiti i colori*/
.theMenu a:active{
  color:black;
  background-color:#70AE6E;
}
.theMain a:link,.theFooter a:link{
  color: white;
}/*link bianco su nero*/
.theMain a:visited,.theFooter a:visited{
  color:white;
}/*anche se visitati ritornano bianchi*/
.theMain a:hover,.theFooter a:hover{
  color: black;
  background-color: white;
}/*Con il mouse su un link vengono invertiti i colori*/
.theMain a:active,.theFooter a:active{
  color:black;
  background-color:#70AE6E;
}
body{
  color:white;
  font-family:Helvetica,Verdana, sans-serif;/*verificare che siano adatti per il body*/
  background: black scroll center center repeat;
}
ul{
  list-style-type: none;/*toglie i pallini dalla lista del theMenu*/
}
.social{
  text-align: left;
}
.wrapper {/*per centrare un'immagine*/
  display: block;
  margin: auto;
  text-align: left;
  width: 60%;
}
.theMain>.wrapper{/*Sposta le immagini nel main a sinistra e spazia le scritte di 1 rem*/
  float: left;
  padding-right: 1rem;
}
.theMain>p{
  font-size: 1.3rem;
}
.citazione{
  font-family:cursive;
  text-align: center;
}
.autore{
  font-style: normal;
  font-size: 0.7rem;
  text-align: center;
}
/*Media query stampa e schermi piccoli*/
@media print{
  body{
    font-family: Times,serif;
    font-size: 12pt;
    color: black;
    background: none;
  }
  a{
    text-decoration: underline;
  }
  a::after{
    content: "(" attr(href) ")";
  }
  footer::after{
    content: "Copyright Lorenzo Costa";
  }
  .theMenu{display: none;}
}
@media only screen and (max-width:768px) {
  .grid-container{
    display: grid;
    grid-template-areas:
    'header header'
    'menu menu'
    'main main'
    'footer-1 footer-3'
  }
}
