/*definite le aree, le tipologie*/
.theMenu{grid-area: menu;background-color: white;color:black;}
.theMain{grid-area: main;padding-left: 2rem;padding-right: 2rem;color:white;}
.theHeaderLeft{grid-area: header-left;text-align: left;background-color: white;}
.theHeader{grid-area: header; border: none;text-align: center;font-weight: bold;font-size: 2rem;}
.theHeaderRight{grid-area: header-right;text-align: center;color: white}
.theFooterLeft{grid-area: footer-left; font-family:Times, Georgia, serif;font-style: italic; font-size: 0.8rem;
                background-color: white;color: black;text-align: center;display: grid;align-items: end;}
.theFooter{grid-area: footer;font-family:Times, Georgia, serif;font-style: italic; font-size: 0.8rem;padding-left: 2rem;align-self: end;}
.theFooterRight{grid-area: footer-right;width: max-content;align-self: end;}
/*definita la griglia*/
.grid-container{
  display: grid;
  min-height: 100vh;
  grid-template-areas:
  'header-left header header header header header header header header header header header-right'
  'menu main main main main main main main main main main main'
  'footer-left footer footer footer footer footer footer footer footer footer footer footer-right';

}
.theMenu a:link{
  color: black;
}/*link neri su bianco*/
.theMenu a:visited{
  color:black;
}/*anche se visitati ritornano neri*/
.theMenu a:hover{
  color: white;
  background-color: black;
}/*Con il mouse su un link vengono invertiti i colori*/
.theMenu a:active{
  color:black;
  background-color:#70AE6E;
}
.theMain a:link,.theFooter a:link{
  color: white;
}/*link bianco su nero*/
.theMain a:visited,.theFooter a:visited{
  color:white;
}/*anche se visitati ritornano bianchi*/
.theMain a:hover,.theFooter a:hover{
  color: black;
  background-color: white;
}/*Con il mouse su un link vengono invertiti i colori*/
.theMain a:active,.theFooter a:active{
  color:black;
  background-color:#70AE6E;
}
body{
  color:white;
  font-family:Helvetica,Verdana, sans-serif;/*verificare che siano adatti per il body*/
  background: black scroll center center repeat;
}
ul{
  list-style-type: none;/*toglie i pallini dalla lista del theMenu*/
}
caption{
  font-weight: bold;
  text-align: center;
}
table,tr,th{
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
}
/*Rimuovono le freccie dagli input type=number*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.err{/*in caso di errori*/
  text-align:center;
  font-weight:bold;
  color:red;
}
.succ{/*in caso di successo*/
  text-align:center;
  font-weight:bold;
  color:green;
}
.social>img{
  max-width: 2%;
  border-radius: 0.8rem;
}
.wrapper {/*per centrare un'immagine*/
  display: block;
  margin: auto;
  text-align: left;
  width: 60%;
}
.theMain>.wrapper{/*Sposta le immagini nel main a sinistra e spazia le scritte di 1 rem*/
  float: left;
  padding-right: 1rem;
}
.numberWrapper{
  display: block;
  text-align: center;
}
.theMain>p{
  font-size: 1.3rem;
}
.bottoni{
  padding-top: 2rem;
}
input[type=submit], input[type=reset]{
  border-radius: 0.8rem;
  border: 0.1rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.bottoni input[type=submit]:hover{
  background: green;
}
.bottoni input[type=reset]:hover{
  background: red;
}
input[type=text], input[type=password]{
  height: 2rem;
  border-radius: 0.5rem;
  border: 0;
  font-size: 1.5rem;
}
.avviso{
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
}
/*Media query stampa e schermi piccoli*/
@media print{
  body{
    font-family: Times,serif;
    font-size: 12pt;
    color: black;
    background: none;
  }
  a{
    text-decoration: underline;
  }
  a::after{
    content: "(" attr(href) ")";
  }
  footer::after{
    content: "Copyright Lorenzo Costa";
  }
  .theMenu{display: none;}
}
@media only screen and (max-width:768px) {
  .grid-container{
    display: grid;
    grid-template-areas:
    'header header'
    'menu menu'
    'main main'
    'footer-1 footer-3'
  }
}
